* {
    margin: 0;
    padding: 0;
    position: relative;
    
}

body {
    background-color:  #3C6E71;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.top-bar{
    background-image: linear-gradient(to right, #fffffc, #e9ecef , #000, #09FE04);
    height: 5vw;
    min-height: 5vw;
    z-index: 0;
    max-height: 30%;
}


.logo img {
    width: 6.5vw;
    max-width: 50%;
    height: auto;
    max-height: 50%;
    cursor: pointer;
}

.top-bar #bar .logo img {
    display: block;
    margin: 0 auto;
}


#bar .menu img {
    width: 6.5vw;
    min-width: 5vw;
    max-width: 50%;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
}

.button-menu {
    left: 93vw;
}

#menu-bento{
    left: 93vw;
}

.menu img{
    height: 6vw;
}

.body-paciente {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-pacientes h1{
    font-size: 1.5vw;
    padding: 1vw 0;
    text-align: center;
    margin: 0;
    font-weight: bold;
}

.background-paciente {
    margin: 0.5% 3% 0% 3%;
    border-radius: 15px;
    border: 6px solid #29F217;
    max-height: 0%;
    position: relative;
}

.background-paciente .button-add{
    color:#fff;
    size: 2vw;
}

.button-add-border {
    position: absolute;
    right: 0;
    transform: translateY(0);
    transform: translateX(50%);
}

.view-pacientes .background-paciente {
    background-color: rgba(41, 242, 23, 0.2);
    font-size: 1.2vw;
    padding: 1.5vw;
}


.list-pacientes {
    min-width: 30%;
    max-width: 100%;
    max-height: 100%;
    min-height: 30%;
}

.table {
    table-layout: fixed;
}

.table-responsive {
    background-color: #fff;
    max-width: 100%;
    max-height: 30vw;
    overflow: auto;
}


.table, button {
    background-color: transparent;
    border: none;
}

.button-home {
    
}

.list-pacientes {
    border-radius: 20px;
}

.table thead, th {
    background-color: #283618;
    color: #fff;
    border: solid #fff 5px;
    text-align: center;
}

.table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
.table thead .none {
    background-color: #283618;
    color: #fff;
    border: none;
    border-top: solid #fff 5px;
    border-bottom: solid #fff 5px;
}

<<<<<<< HEAD

.table tbody td {
    text-align: center;
}

tr:hover {
    background-color: #29F217;
    cursor: pointer;
}

.button-excluir {
    background-color: rgba(255, 150, 255, 0.2);
    cursor: pointer;
}
=======
.table thead .none-right {
    border: none;
}
>>>>>>> parent of 69a39f9 (Puxando os dados!)
