<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Cadastrar Pacientes</title>
    <link rel="stylesheet" href="../form-nutricionista/form-nutricionista.component.scss">
</head>

<body [class.paciente-selecionado]="isClick">
    <div class="top-bar">
        <header id="bar">
            <div class="logo">
                <img src="./assets/icons/LOGO_JOHW.svg" alt="" (click)="direcionarPagina('Home')">

            </div>
            <div class="menu">
                <button id="menu-bento" mat-icon-button [matMenuTriggerFor]="menuButton" alt=""
                    (click)="clicarMenuBento()">
                    <mat-icon class="icon-menu">apps</mat-icon>
                </button>
                <mat-menu class="menu-content" #menuButton="matMenu">
                        <button mat-menu-item matTooltip="Basic"
                            (click)="direcionarPagina('Home')">
                            <mat-icon class="icon">home</mat-icon>
                            <span>
                                Home
                            </span>
                        </button>

                        <button mat-menu-item matTooltip="Basic"
                            (click)="direcionarPagina('Agenda')">
                            <mat-icon class="icon">today</mat-icon>
                            <span>
                                Agenda
                            </span>
                        </button>

                        <button mat-menu-item matTooltip="Basic"
                            (click)="direcionarPagina('Consulta')">
                            <mat-icon class="icon">assignment_ind</mat-icon>
                            <span>
                                Consulta
                            </span>
                        </button>

                        <button mat-menu-item matTooltip="Basic"
                            (click)="direcionarPagina('Categoria')">
                            <mat-icon class="icon">library_books</mat-icon>
                            <span>
                                Categoria
                            </span>
                        </button>

                        <button mat-menu-item matTooltip="Basic"
                            (click)="direcionarPagina('Nutricionista')">
                            <mat-icon class="icon">work_outline</mat-icon>
                            <span>
                                Nutricionista
                            </span>
                        </button>

                        <button mat-menu-item matTooltip="Basic"
                            (click)="direcionarPagina('Paciente')">
                            <mat-icon class="icon">people_outline</mat-icon>
                            <span>
                                Paciente
                            </span>
                        </button>
                </mat-menu>
            </div>
        </header>
    </div>

    <section class="body-nutricionista">
        <div class="view-nutricionista">
            <div class="background-nutricionista">

                <main class="information">

                    <mat-card>
                        <mat-card-content>
                            <form [formGroup]="form" class="form-grid">
                                <div class="campos-formulario">
                                    <mat-form-field appearance="fill" class="half-width">
                                        <input matInput placeholder="CPF" formControlName="cpf">
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" class="half-width">
                                        <input matInput placeholder="Nome" formControlName="nome">
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" class="half-width">
                                        <input matInput placeholder="Descricao" formControlName="descricao">
                                    </mat-form-field>

                                    <mat-form-field class="example-chip-list" class="half-width">
                                        <mat-label>Seleção de Categorias</mat-label>

                                        <mat-chip-list #chipList aria-label="Categorias Selecionadas">
                                            <mat-chip *ngFor="let categoria of categoriasSelecionadas"
                                                [removable]="true" (removed)="removeCategoria(categoria)">
                                                {{ categoria.descricao }}
                                                <mat-icon matChipRemove>cancel</mat-icon>
                                            </mat-chip>
                                        </mat-chip-list>

                                        <input placeholder="Adicionar Categoria..." formControlName="categoriasIds"
                                            [matChipInputFor]="chipList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            (matChipInputTokenEnd)="addCategoria($event)" [matAutocomplete]="auto" />

                                        <mat-autocomplete #auto="matAutocomplete"
                                            (optionSelected)="selectedCategoria($event)">
                                            <mat-option *ngFor="let categoria of filteredCategorias | async"
                                                [value]="categoria">
                                                {{ categoria.descricao }}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" class="half-width">
                                        <input matInput placeholder="Telefone" formControlName="telefone">
                                    </mat-form-field>

                                </div>
                            </form>
                        </mat-card-content>
                        <mat-card-actions class="button">
                            <button mat-raised-button class="btn" (click)="onSubmit()">Salvar</button>
                            <button mat-raised-button class="red" (click)="onCancel()">Cancelar</button>
                        </mat-card-actions>
                    </mat-card>
                </main>
            </div>
        </div>
    </section>
</body>
</html>