<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Cadastrar Pacientes</title>
    <link rel="stylesheet" href="../editar-categoria/editar-categoria.component.scss">
  </head>
  <body>
    <div class="top-bar">
        <header id="bar">
            <div class="logo">
                <img src="./assets/LOGO_JOHW.svg" alt="">
            
            </div>
            <div class="menu">
                <img id="menu-bento" src="./assets/icons/MENU_BENTO.svg" alt="" onclick="">
                    <section id="menu-bento-aberto">
                    </section>
            </div>
        </header>
    </div>

    <section class="body-paciente">
      <div class="view-pacientes">
        <div class="background-paciente">
          
            <main class="information">
              <form #categoriaForm="ngForm" (ngSubmit)="updCategoria(categoriaForm)"> 
                <legend>
                  <h1>Editar categoria {{categoria.descricao}}</h1>
                </legend>
                <div class="container text-center" >
                  <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2"> 

                    <div class="col">
                      <label for="descricao">Descrição:</label>
                      <input type="text" id="descricao" name="descricao" [(ngModel)]="categoria.descricao"
                      required #descricao="ngModel" autofocus minlength="3" maxlength="50"
                      [ngClass]="{ 'highlight-error': descricao.invalid && descricao.touched }">
                      <div class="warning" *ngIf="descricao.invalid && descricao.touched">Campo obrigatório</div>
                    </div>
                    
                    <div class="col">
                      <label for="tipoCategoria">Tipo Categoria:</label>
                      <input type="text" id="tipoCategoria" name="tipoCategoria" #tipoCategoria="ngModel"
                      [(ngModel)]="categoria.tipoCategoria" required [ngClass]="{ 'highlight-error': tipoCategoria.invalid && tipoCategoria.touched }">
                      <div class="warning" *ngIf="tipoCategoria.invalid && tipoCategoria.touched">Campo obrigatório</div>
                    </div>
                    
                  </div>
                </div>
                    <div class="button" *ngIf="categoriaForm !== null">
                      <input type="submit" class="btn btn-primary" value="Salvar">
                      <div *ngIf="exibirMensagem" class="success-message" >
                        {{sucessMessage}}
                      </div>
                      <input type="button" class="btn btn-primary red" value="Cancelar" (click)="voltarPagina()">
                    </div>
              </form>
                  
            </main>
          </div>
      </div>
  </section>
  </body>
</html>