<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Paciente</title>
  <link rel="stylesheet" href="./home-paciente.component.scss">
</head>

<body [class.paciente-selecionado]="isClick">
  <div class="top-bar">
    <header id="bar">
      <div class="logo">
        <img src="./assets/icons/LOGO_JOHW.svg" alt="">

      </div>
      <div class="menu">
        <img id="menu-bento" src="/assets/icons/MENU_BENTO.svg" alt="" (click)="clicarMenuBento()">
        <section id="menu-bento-aberto" *ngIf="isClick">
            <div class="lista-menu">
                <div class="container text-center">
                    <div>
                        <mat-grid-list cols="2" rowHeight="2:1">

                            <ul class="lista-item">
                                <mat-grid-tile>
                                    <button class="button-icon" mat-icon-button matTooltip="Basic" (click)="direcionarPagina('Home')">
                                        <mat-icon class="icon custom-icon">home</mat-icon>
                                        <p>
                                          Home
                                      </p>
                                      </button>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <button class="button-icon" mat-icon-button matTooltip="Basic" (click)="direcionarPagina('Agendar')">
                                        <mat-icon class="icon custom-icon">today</mat-icon>
                                        <p>
                                            Agendar
                                        </p>
                                      </button>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <button class="button-icon" mat-icon-button matTooltip="Basic" (click)="direcionarPagina('Consulta')">
                                        <mat-icon class="icon custom-icon">assignment_ind</mat-icon>
                                        <p>
                                            Consulta
                                        </p>
                                      </button>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <button class="button-icon" mat-icon-button matTooltip="Basic" (click)="direcionarPagina('Categoria')">
                                        <mat-icon class="icon custom-icon">library_books</mat-icon>
                                        <p>
                                            Categoria
                                        </p>
                                      </button>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <button class="button-icon" mat-icon-button matTooltip="Basic" (click)="direcionarPagina('Nutricionista')">
                                        <mat-icon class="icon custom-icon">work_outline</mat-icon>
                                        <p>
                                            Nutricionista
                                        </p>
                                      </button>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <button class="button-icon" mat-icon-button matTooltip="Basic" (click)="direcionarPagina('Paciente')">
                                        <mat-icon class="icon custom-icon">people_outline</mat-icon>
                                        <p>
                                            Paciente
                                        </p>
                                      </button>
                                </mat-grid-tile>
                            </ul>
                        </mat-grid-list>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </header>
  </div>

  <section class="body-paciente">
    <div class="view-pacientes">
      <div class="background-paciente">
        <main class="list-pacientes">
          <mat-card class="table">
            <mat-card-content color="primary">Pacientes</mat-card-content>
            <mat-form-field class="text-center">
              <mat-label>PESQUISAR</mat-label>
              <input matInput placeholder="Ex. Samantha" #input>
            </mat-form-field>
            <section class="checkbox">
              <label class="status">Status:</label>
              <mat-radio-group [(ngModel)]="status" (change)="onFilterCheck()">
                <mat-radio-button class="ativo" value="ativo">Ativo</mat-radio-button>
                <mat-radio-button class="inativo" value="inativo">Inativo</mat-radio-button>
              </mat-radio-group>
            </section>

            <div *ngIf="pacientes$ | async as pacientes; else loading">
              <table mat-table [dataSource]="pacientes" class="mat-elevation-z8">


                <ng-container class="field" matColumnDef="nome">
                  <th mat-header-cell *matHeaderCellDef> Nome </th>
                  <td mat-cell *matCellDef="let paciente"> {{paciente.nome}} </td>
                </ng-container>

                <ng-container class="field" matColumnDef="cpf">
                  <th mat-header-cell *matHeaderCellDef> CPF </th>
                  <td mat-cell *matCellDef="let paciente"> {{paciente.cpf}} </td>
                </ng-container>

                <ng-container class="field" matColumnDef="idade">
                  <th mat-header-cell *matHeaderCellDef> Idade </th>
                  <td mat-cell *matCellDef="let paciente"> {{paciente.idade}} </td>
                </ng-container>

                <ng-container class="field" matColumnDef="cidade">
                  <th mat-header-cell *matHeaderCellDef> Cidade </th>
                  <td mat-cell *matCellDef="let paciente"> {{paciente.cidade}} </td>
                </ng-container>

                <ng-container class="field" matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let paciente"> {{paciente.estado}} </td>
                </ng-container>

                <ng-container class="field" matColumnDef="telefone">
                  <th mat-header-cell *matHeaderCellDef> Telefone </th>
                  <td mat-cell *matCellDef="let paciente"> {{paciente.telefone}} </td>
                </ng-container>

                <ng-container class="field" matColumnDef="situacao">
                  <th mat-header-cell *matHeaderCellDef> Situação </th>
                  <td mat-cell *matCellDef="let paciente"> {{paciente.situacao}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef class="action-column">
                    <button class="actions" mat-mini-fab aria-label="Adicionar um paciente" (click)="onAdd()"
                      class="action-column-header">
                      <mat-icon>add</mat-icon>
                    </button>
                  </mat-header-cell>

                  <mat-cell *matCellDef="let paciente" class="action-column">
                    <button class="actions" mat-icon-button color="primary" aria-label="Editar paciente" (click)="onEdit(paciente)">
                      <mat-icon class="actions-icon">edit</mat-icon>
                    </button>

                    <button class="actions" mat-icon-button color="warn" aria-label="Remover paciente" (click)="onDelete(paciente)">
                      <mat-icon class="actions-icon">delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>

            <ng-template #loading>
              <div class="loading-spinner">
                <mat-spinner></mat-spinner>
              </div>
            </ng-template>
          </mat-card>
        </main>
      </div>
    </div>
  </section>

</body>

</html>