* {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  background-color: #3C6E71;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  padding: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;
  overflow-y: auto;

  &.paciente-selecionado {
    z-index: 1;

    &.body-nutricionista {
      z-index: -1;
    }
  }
}

.top-bar {
  background-image: linear-gradient(to right, #fffffc, #e9ecef, #000, #09FE04);
  height: 5vw;
  min-height: 5vw;
  z-index: 0;
  max-height: 30%;
}

.logo img {
  width: 6.5vw;
  max-width: 50%;
  height: auto;
  max-height: 50%;
  cursor: pointer;
}

.top-bar #bar .logo img {
  display: block;
  margin: 0 auto;
}


#bar .menu img {
  width: 6.5vw;
  min-width: 5vw;
  max-width: 50%;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 1.5vw;
  bottom: 0;
  z-index: 1;
}

#menu-bento {
  left: 93vw;
  border: none;
  background-color: transparent;
}

.menu mat-icon {
  font-size: 4.8vw;
}

.menu mat-icon:hover {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

mat-menu,
.icon {
  background-color: transparent;
  color: #09FE04;
  font-size: 2vw;
}


mat-menu,
.icon:hover {
  color: #000
}

::ng-deep .mat-menu-content {
  background-color: #E5E5E0;
}

mat-menu, span {
  font-size: 1vw;
  color: #000;
}

.body-nutricionista {
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.view-nutricionista h1 {
  font-size: 1.5vw;
  padding: 1vw 0;
  text-align: center;
  margin: 0;
  font-weight: bold;
}

.background-nutricionista {
  margin: 0.5% 3% 0% 3%;
  border-radius: 15px;
  border: 6px solid #29F217;
  max-height: 0%;

}

.view-nutricionista .background-nutricionista {
  background-color: rgba(41, 242, 23, 0.2);
  font-size: 1.2vw;
  padding: 1.5vw;
}


.list-nutricionista {
  min-width: 30%;
  max-width: 100%;
  max-height: 100%;
  min-height: 30%;
}

table {
  width: 100%;
  background-color: #fff;
  font-size: 1.5vw;
  border: solid 1px #000;
  margin: 0.5vw 0 0.5vw 0;

  th {
    text-align: center;
    vertical-align: middle;
  }
}

.table {
  background-color: #fff;
  font-size: 1.5vw;

  th {
    text-align: center;
    vertical-align: middle;
  }
}

mat-card mat-card-content {
  text-align: center;
  color: #000;
  font-size: 2vw;
  font-weight: bold;
  padding-top: .5vw;
}

.text-center {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 0;
}

.text-center:hover {
  background-color: #e9ecef;
}


.text-center mat-label {
  color: #000
}

.text-center mat-label input {
  color: #000;

}

.text-center input {
  color: #000;
}

.text-center input::placeholder {
  color: #000;
  letter-spacing: 0.1vw;
}

table ng-container,
th,
td {
  color: #000;
  font-size: 1vw;
  text-align: center;

}

table ng-container,
th {
  text-align: center;
  font-weight: bold;
  font-size: 1.5vw;
}


table ng-container,
tr:nth-child(even) {
  background-color: #E5E5E0;
}

table {
  letter-spacing: 0.1vw;
  font-weight: bold;
}

.loading-spinner {
  padding: 25px;
  background: rgb(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  background-color: #fff;
}

ng-container button,
.actions-icon {
  font-size: 2vw;
}

ng-container,
mat-header-cell button {
  background-color: #fff;
  color: #081c15;
}

ng-container,
mat-header-cell button mat-icon {
  font-size: 2vw;
  margin: auto;
  height: auto;
  width: auto;
  padding: auto;
}

mat-header-cell,
button mat-icon {
  margin: auto;
  height: auto;
  width: auto;
  padding: auto;
}

ng-container,
mat-header-cell button:hover {
  color: #000;
  font-size: 2.5vw;
}

.check-box, mat-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; /* Adicione margem entre os checkboxes */
}

.inativo {
  margin-right: 40%;
  margin-bottom: 2%;
}

.checkbox,
label {
  font-weight: bold;
}

mat-radio-group,
.ativo {
  margin-top: 1%;
  color: #09FE04;
  margin-bottom: 4%;
}

mat-radio-group,
.inativo {
  margin-left: 40%;
  color: #9d0208;
}

mat-radio-group,
.ativo:hover {
  color: #000;
}

mat-radio-group,
.inativo:hover {
  color: #000;
}

.categ {
  margin-bottom: 0.5vw;
}