<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paciente</title>
    <link rel="stylesheet" href="../paciente/paciente.component.css">
  </head>
  <body>
    <div class="top-bar">
        <header id="bar">
            <div class="logo">
                <img src="/src/assets/icons/LOGO_JOHW.svg" alt="">
            
            </div>
            <div class="menu">
                <img id="menu-bento" src="/src/assets/icons/MENU_BENTO.svg" alt="" onclick="">
                    <section id="menu-bento-aberto">
                    </section>
            </div>
        </header>
    </div>

    <section class="body-paciente">
        <div class="view-pacientes">
            <h1>Dados Clientes</h1>
            <div class="background-paciente">
                <main class="list-pacientes">

                </main>
            </div>
        </div>
    </section>
  </body>
</html>