<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="./home-consulta.component.scss">
  </head>
  <body>
    <div class="top-bar">
        <header id="bar">
            <div class="logo">
                <img src="/assets/icons/LOGO_JOHW.svg" alt="">
            
            </div>
            <div class="menu">
                <img id="menu-bento" src="/assets/icons/MENU_BENTO.svg" alt="" onclick="">
                    <section id="menu-bento-aberto">
                        
                    </section>
            </div>
            <div class="user">
            
            </div>

            <section class="body-consulta">
                <div class="view-consulta">
                    <h1>Consultas</h1>
                    <div class="background-consulta">
                        <main class="list-consulta">
                            <div class="table-responsive">
                                <table class="table" >
                                    <thead>
                                        <tr>
                                            <th scope="col">Paciente</th>
                                            <th scope="col">Data da Consulta</th>
                                            <th scope="col">Meses acompanhado</th>
                                            <th scope="col">Status pagamento</th>
                                            <th scope="col">Tipo de Consulta</th>
                                            <th scope="col" class="none"></th>
                                            <th scope="col" class="none-right"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="justify-content-center">
                                    </tbody>
                                </table>
                            </div>
                        </main>
                        <button class="button-add button-add-border">
                            <svg xmlns="http://www.w3.org/2000/svg" width="3vw" height="3vw" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                              </svg>
                        </button>
                        
                </div>
            </div>
            </section>
            
        </header>
    </div>


    </body>
</html>