<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="./home.component.scss">
</head>

<body [class.paciente-selecionado]="isClick">
    <div class="top-bar">
        <header id="bar">
            <div class="logo">
                <img src="./assets/icons/LOGO_JOHW.svg" alt="" (click)="direcionarPagina('Home')">

            </div>
            <div class="menu">
                <button id="menu-bento" mat-icon-button [matMenuTriggerFor]="menuButton" alt=""
                    (click)="clicarMenuBento()">
                    <mat-icon class="icon-menu">apps</mat-icon>
                </button>
                <mat-menu class="menu-content" #menuButton="matMenu">
                        <button mat-menu-item matTooltip="Basic"
                            (click)="direcionarPagina('Home')">
                            <mat-icon class="icon">home</mat-icon>
                            <span>
                                Home
                            </span>
                        </button>

                        <button mat-menu-item matTooltip="Basic"
                            (click)="direcionarPagina('Agenda')">
                            <mat-icon class="icon">today</mat-icon>
                            <span>
                                Agenda
                            </span>
                        </button>

                        <button mat-menu-item matTooltip="Basic"
                            (click)="direcionarPagina('Consulta')">
                            <mat-icon class="icon">assignment_ind</mat-icon>
                            <span>
                                Consulta
                            </span>
                        </button>

                        <button mat-menu-item matTooltip="Basic"
                            (click)="direcionarPagina('Categoria')">
                            <mat-icon class="icon">library_books</mat-icon>
                            <span>
                                Categoria
                            </span>
                        </button>

                        <button mat-menu-item matTooltip="Basic"
                            (click)="direcionarPagina('Nutricionista')">
                            <mat-icon class="icon">work_outline</mat-icon>
                            <span>
                                Nutricionista
                            </span>
                        </button>

                        <button mat-menu-item matTooltip="Basic"
                            (click)="direcionarPagina('Paciente')">
                            <mat-icon class="icon">people_outline</mat-icon>
                            <span>
                                Paciente
                            </span>
                        </button>
                </mat-menu>
            </div>
        </header>
    </div>

</body>

</html>