<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="../home/home.component.css">
  </head>
  <body>
    <div class="top-bar">
        <header id="bar">
            <div class="logo">
                <img src=".//src/assets/icons/LOGO_JOHW.svg" alt="">
            
            </div>
            <div class="menu">
                <img id="menu-bento" src=".//src/assets/icons/MENU_BENTO.svg" alt="" onclick="">
                    <section id="menu-bento-aberto">
                        <div class="lista-menu">
                            <ul class="lista-item">
                                <li *ngFor="let item of listMenu">
                                    <span>{{item.legenda.toUpperCase()}}</span>
                                    <span>{{item.icon}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="button-logout">
                            <button></button>
                        </div>
                    </section>
            </div>
            <div class="user">
            
            </div>
        </header>
    </div>


    </body>
</html>