<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="./editar-controle-caixa.component.scss">
</head>

<body>
    <div class="top-bar">
        <header id="bar">
            <div class="logo">
                <img src="/assets/icons/LOGO_JOHW.svg" alt="">

            </div>
            <div class="menu">
                <img id="menu-bento" src="/assets/icons/MENU_BENTO.svg" alt="" onclick="">
                <section id="menu-bento-aberto">
                    <img src="/src/assets/icons/">
                    <div class="lista-menu">
                        <div class="container text-center">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                                <ul class="lista-item">
                                    <!-- <li *ngFor="let item of listMenu">
                                            <a type="button" class="btn btn-primary" onclick="">
                                                <ng-container *ngIf="item.iconSvg">
                                                    <img [src]="item.iconSvg" alt="">
                                                </ng-container>
                                            </a>
                                            <span class="col">{{item.legenda.toUpperCase()}}</span>
                                        </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="user">

            </div>

            <section class="body-controle">
                <div class="view-controle">
                    <div class="background-controle">
                        <form #controleForm="ngForm" (ngSubmit)="updControle(controleForm)">
                            <legend>
                                <h1>Cadastrar Controle</h1>
                            </legend>
                            <div class="container text-center">
                                <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2">

                                    <div class="col">
                                        <label for="descricaoControle">Descrição do Controle:</label>
                                        <input type="text" id="descricaoControle" [(ngModel)]="controleCaixa.descricaoControle" name="descricaoControle" required>
                                    </div>
                                    
                                    <div class="col">
                                        <label for="produtoOuCliente">Produto ou Cliente:</label>
                                        <select id="produtoOuCliente" [(ngModel)]="selectedProdutoOuCliente"
                                        name="produtoOuCliente" (change)="onChangeTipo(selectedProdutoOuCliente)" required>
                                            <option value="Produto">Produto</option>
                                            <option value="Cliente">Cliente</option>
                                        </select>
                                    </div>

                                    <div class="col">
                                        <label for="idPaciente">Paciente</label>
                                        <select id="idPaciente" name="idPaciente" [(ngModel)]="selectedPatientId"
                                            (change)="buscarDetalhesDoPaciente(selectedPatientId)" [disabled]="pacienteInativo"
                                            required>
                                            <option value="" selected disabled>Selecione o paciente</option>
                                            <option *ngFor="let paciente of pacientes" [value]="paciente.cpf">{{
                                                paciente.nomePaciente }}</option>
                                        </select>
                                    </div>

                                    <div class="col">
                                        <label for="data">Data:</label>
                                        <input type="date" id="data" [(ngModel)]="controleCaixa.data" name="data"
                                            required>
                                    </div>
                                    
                                    <div class="col">
                                        <label for="formaPagamento">Forma de Pagamento:</label>
                                        <select id="formaPagamento" [(ngModel)]="controleCaixa.formaPagamento"
                                            name="formaPagamento" required>
                                            <option value="Dinheiro">Dinheiro</option>
                                            <option value="Cartão de Crédito">Cartão de Crédito</option>
                                            <option value="Cartão de Débito">Cartão de Débito</option>
                                            <option value="PIX">PIX</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col">
                                        <label for="preco">Preço:</label>
                                        <input type="number" id="preco" [(ngModel)]="controleCaixa.preco" name="preco"
                                            required>
                                    </div>


                                </div>
                            </div>
                            <div class="button">
                                <input type="submit" class="btn btn-primary" value="Cadastrar">
                                <div *ngIf="exibirMensagem" class="success-message">
                                    {{sucessMessage}}
                                </div>
                                <input type="button" class="btn btn-primary red" value="Cancelar"
                                    (click)="voltarPagina()">
                            </div>

                        </form>
                    </div>
                </div>
            </section>

        </header>
    </div>


</body>

</html>