* {
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    background-image: url("/assets/img/logo nova nutri.png");
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

html {
    margin: 0%
}

.top-bar{
    background-image: linear-gradient(to right, #fffffc, #e9ecef , #000, #09FE04);
    height: 5vw;
    min-height: 5vw;
    z-index: 0;
    max-height: 30%;
}

.logo img {
    width: 6.5vw;
    max-width: 50%;
    height: auto;
    max-height: 50%;
    cursor: pointer;
}

.top-bar #bar .logo img {
    display: block;
    margin: 0 auto;
}


#bar .menu img {
    width: 6.5vw;
    min-width: 5vw;
    max-width: 50%;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
}

.button-menu {
    left: 93vw;
}

#menu-bento{
    left: 93vw;
}

.menu img{
    height: 6vw;
}

#menu-bento-aberto {
    background-color: #E5E5E0;
    padding: 5vw;
    border-radius: 15%;
    margin-left: 2vw;
}

.grid p {
    font-size: 2vw;
}

.lista-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 33vw;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
}

button {
    width: 5vw; 
    height: 5vw;
    background-color: #E5E5E0;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30%;
    color: #09FE04;
}

button p {
    font-size: 2vw;
    margin-top: 1.5vw;
    margin-LEFT: 4vw;    
    text-align: center;
}

.lista-item button .custom-icon {
    font-size: 5vw; /* Ajuste o valor conforme necessário */
}

button:last-child {
    margin-right: 0;
}

button:hover {
    cursor: pointer;
    color: #000;
}

table {
    width: 100%;
}

.loading-spinner {
    padding: 25px;
    background: rgb(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}