* {
    margin: 0;
    padding: 0;
    position: relative;
    
}

body {
    background-color:  #ADB5BD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.top-bar{
    background-image: linear-gradient(to right, #fffffc, #e9ecef , #000, #09FE04);
    height: 5vw;
    min-height: 5vw;
    z-index: 0;
    max-height: 30%;
}


.logo img {
    width: 4.5vw;
    max-width: 50%;
    height: auto;
    max-height: 50%;
    cursor: pointer;
}

.top-bar #bar .logo img {
    display: block;
    margin: 0 auto;
}


#bar .menu img {
    width: 6.5vw;
    min-width: 5vw;
    max-width: 50%;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
}

.button-menu {
    left: 93vw;
}

#menu-bento{
    left: 93vw;
}

.menu img{
    height: 6vw;
}

.body-agenda {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information, h1 {
    font-weight: bold;
    letter-spacing: 0.1vw;
}

.information, legend {
    margin: 0;
    padding: 0;
    bottom: 1vw;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.view-agenda h1{
    font-size: 1.5vw;
    padding: 2vw 0;
    text-align: center;
    margin: 0;
}

.background-agenda {
    margin: 1.5% 3% 0% 3%;
    border-radius: 15px;
    border: 6px solid #29F217;
    width: 100%;
}

.view-agenda .background-agenda {
    background-color: rgba(41, 242, 23, 0.2);
    font-size: 1.2vw;
    padding: 1.5vw;
}

.list-agenda {
    display: inline-block;
}

.btn {
    background-color: #29F217;
    letter-spacing: 0.1vw;
    top: 3vw;
    padding: 0.7vw;
    width: 30%;
    font-weight: bold;
    color: #000;
    font-size: 1.2vw;
    border: #000 solid 0.3px;
    border-radius: 15px;
}

.btn:hover {
    background-color: #b7e4c7;
}

.button {
    display: flex;
    justify-content: center; /* Ajusta o espaçamento entre os botões */
    align-items: center; /* Centraliza os botões verticalmente */
    margin-top: 1.5vw; /* Adiciona um espaço entre o formulário e os botões */
}



.col, label {
    display: block;
    letter-spacing: 0.1vw;
    font-weight: bold;
}

.col input {
    background-color: #C3F6C3;
    border: #000 solid 0.3px;
    border-radius: 15px;
    width: 50%;
    min-width: 25%;
    max-width: 50%;
}

.col select {
    background-color: #C3F6C3;
    padding: 0.4vw;
    width: 50%;
    min-width: 25%;
    max-width: 50%;
    border: #000 solid 0.3px;
    border-radius: 15px;
}

.col select, option {
    font-weight: bold;
}

.data {
    font-weight: bold;
    letter-spacing: 0.1vw;
    width: 50%;
    min-width: 25%;
    max-width: 50%;
}

input[type="date"] {
    text-align: center;
}

.col, input {
    text-align: center;
    font-weight:normal;
}

.col, select {
    text-align: center;
}

.col, input, ::placeholder {
    text-align: center;
}

.idade {
    background-color: #000;
}


.warning{
    color: #ef233c;
}

.warning, input.text, select, label {
    border: #ef233c;
}

.success-message {
    background-color: rgba(9,254,4, 0.3);
    border: #000 2px solid;
    border-radius: 20px;
    text-align: center;
    padding: 1vw;
    left: 42%;
    bottom: 25%;
    position: fixed;
    font-weight: bold;
    transform: translateY(-500%);
}

.red {
    background-color: #dc2f02;
    letter-spacing: 0.1vw;
    top: 3vw;
    padding: 0.7vw;
    width: 30%;
    font-weight: bold;
    color: #000;
    font-size: 1.2vw;
    border: #000 solid 0.3px;
    border-radius: 15px;
}

.red:hover {
    background-color: #f8ad9d;
    cursor: pointer;
}


input {
    padding: 2%;
    width: 50%;
}

.half-width {
    width: 48%; /* ou qualquer valor desejado */
    margin-right: 2%; /* ou qualquer valor desejado para a separação entre os campos */
}

.tempo {
    width: 100% !important;
}

.information {
    width: 100%;
}

mat-card {
    position: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80vw;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

mat-card-actions {

}

.half-width, mat-label {
    color: #000;
    font-size: 1.5vw;
}

.tempo {
    border: 2px solid #000;
}

::ng-deep .mat-datepicker-toggle {
    color: #000; /* Substitua #ff0000 pela cor desejada */
}

::ng-deep .mat-datepicker-toggle-default-icon {
    font-size: 24px; /* Substitua 24px pelo tamanho desejado */
}

mat-select {
    font-size: 1.0vw;
    color: #000;
}

mat-option {
    color:#000;
}

mat-card, form {
    padding: 3%;
    background-color: #E5D3DF;
}

mat-card {
    border: 2px solid #000;
}
