<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="./home-agendamento.component.scss">
</head>

<body>
    <div class="top-bar">
        <header id="bar">
            <div class="logo">
                <img src="/assets/icons/LOGO_JOHW.svg" alt="">

            </div>
            <div class="menu">
                <img id="menu-bento" src="/assets/icons/MENU_BENTO.svg" alt="" onclick="">
                <section id="menu-bento-aberto">

                </section>
            </div>
            <div class="user">

            </div>

            <section class="body-consulta">
                <div class="view-consulta">
                    <h1>Agenda</h1>
                    <div class="background-consulta">
                        <main class="list-consulta">
                            <div class="table-container">
                                <h2>Agendamentos</h2>
                                <table class="table">
                                    <thead class="table-head">
                                        <div class="table-container">
                                            <table class="table">
                                                <thead class="table-head">
                                                    <tr>
                                                        <th scope="col">Paciente</th>
                                                        <th scope="col">Data da Consulta</th>
                                                        <th scope="col">Horário da Consulta</th>
                                                        <th scope="col">Tipo de Consulta</th>
                                                        <th scope="col" class="none"></th>
                                                        <th scope="col" class="none-right"></th>
                                                    </tr>
                                                </thead>
                                                <tbody class="justify-content-center">
                                                    <ng-container
                                                        *ngFor="let dadoRelacionado of pacientesComDadosRelacionados; let i = index">
                                                        <tr>
                                                            <td>{{ dadoRelacionado.nomePaciente }}</td>
                                                            <td>{{ dadoRelacionado.dataConsulta }}</td>
                                                            <td>{{ dadoRelacionado.horaAgendamento }}</td>
                                                            <td>{{ dadoRelacionado.tipoConsulta }}</td>

                                                            <td>
                                                                <button class="button-editar button-center">
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                        width="1.5vw" height="1.5vw" fill="currentColor"
                                                                        class="bi bi-pen" viewBox="0 0 16 16">
                                                                        <!-- Ícone de edição -->
                                                                    </svg>
                                                                </button>
                                                            </td>
                                                            <td>
                                                                <button class="button-excluir button-center"
                                                                    style="size: 3vw;"
                                                                    (click)="exibirPopupExclusao = true">
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                        width="1.5vw" height="1.5vw" fill="currentColor"
                                                                        class="bi bi-trash3" viewBox="0 0 16 16">
                                                                        <!-- Ícone de exclusão -->
                                                                    </svg>
                                                                </button>
                                                            </td>
                                                    </ng-container>
                                                </tbody>
                                            </table>
                                        </div>
                                    </thead>
                                </table>
                            </div>
                        </main>
                        <button class="button-add button-add-border" [routerLink]="['/agendamentos/cadastrar']">
                            <svg xmlns="http://www.w3.org/2000/svg" width="3vw" height="3vw" fill="currentColor"
                                class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>
                        </button>

                    </div>
                </div>
            </section>

        </header>
    </div>


</body>

</html>