* {
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    background-image: url("/assets/img/logo nova nutri.png");
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

html {
    margin: 0%
}

.top-bar{
    background-image: linear-gradient(to right, #fffffc, #e9ecef , #000, #09FE04);
    height: 5vw;
    min-height: 5vw;
    z-index: 0;
    max-height: 30%;
}

.logo img {
    width: 6.5vw;
    max-width: 50%;
    height: auto;
    max-height: 50%;
    cursor: pointer;
}

.top-bar #bar .logo img {
    display: block;
    margin: 0 auto;
}


#bar .menu img {
    width: 6.5vw;
    min-width: 5vw;
    max-width: 50%;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
}

.button-menu {
    left: 93vw;
}

#menu-bento{
    left: 93vw;
}

.menu img{
    height: 6vw;
}


#menu-bento-aberto {
    background-color: #E5E5E0;
    padding: 4.5vw;
}


#menu-bento-aberto {
    margin: 0;
    border-radius: 15%;
}

.lista-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6.5vw;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    
    padding: 1%;
}

.lista-item li {
    margin: 0;
    display: flex;
    height: 4.5vw;
}

.lista-item li{
    display: flex;
    margin: .5vw 0 .5vw 0;
}

.bi, p {
    height: 5vw;
    width: 5vw;
    color: #09FE04;
}

button {
    background-color: #E5E5E0;
    border: none;
    display: flex; // Adiciona display: flex para alinhar os itens centralmente
    margin-right: 100vw
}

button:last-child {
    margin-right: 0; // Remove o espaçamento para o último botão
}

button p {
    text-align: center;
    margin-top: auto; // Alinha o texto ao centro verticalmente
    margin-bottom: auto; // Alinha o texto ao centro verticalmente
}

button:hover p, button:hover svg {
    cursor: pointer;
    color: #000;
}