<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Cadastrar Pacientes</title>
    <link rel="stylesheet" href="../form-paciente/form-paciente.component.scss">
</head>

<body [class.paciente-selecionado]="isClick">
    <div class="top-bar">
        <header id="bar">
            <div class="logo">
                <img src="./assets/icons/LOGO_JOHW.svg" alt="" (click)="direcionarPagina('Home')">

            </div>
            <div class="menu">
                <button id="menu-bento" mat-icon-button [matMenuTriggerFor]="menuButton" alt=""
                    (click)="clicarMenuBento()">
                    <mat-icon class="icon-menu">apps</mat-icon>
                </button>
                <mat-menu class="menu-content" #menuButton="matMenu">
                        <button mat-menu-item matTooltip="Basic"
                            (click)="direcionarPagina('Home')">
                            <mat-icon class="icon">home</mat-icon>
                            <span>
                                Home
                            </span>
                        </button>

                        <button mat-menu-item matTooltip="Basic"
                            (click)="direcionarPagina('Agenda')">
                            <mat-icon class="icon">today</mat-icon>
                            <span>
                                Agenda
                            </span>
                        </button>

                        <button mat-menu-item matTooltip="Basic"
                            (click)="direcionarPagina('Consulta')">
                            <mat-icon class="icon">assignment_ind</mat-icon>
                            <span>
                                Consulta
                            </span>
                        </button>

                        <button mat-menu-item matTooltip="Basic"
                            (click)="direcionarPagina('Categoria')">
                            <mat-icon class="icon">library_books</mat-icon>
                            <span>
                                Categoria
                            </span>
                        </button>

                        <button mat-menu-item matTooltip="Basic"
                            (click)="direcionarPagina('Nutricionista')">
                            <mat-icon class="icon">work_outline</mat-icon>
                            <span>
                                Nutricionista
                            </span>
                        </button>

                        <button mat-menu-item matTooltip="Basic"
                            (click)="direcionarPagina('Paciente')">
                            <mat-icon class="icon">people_outline</mat-icon>
                            <span>
                                Paciente
                            </span>
                        </button>
                </mat-menu>
            </div>
        </header>
    </div>

    <section class="body-paciente">
        <div class="view-paciente">
            <div class="background-paciente">

                <main class="information">

                    <mat-card>
                        <mat-card-content>
                            <form [formGroup]="form" class="form-grid">
                                <div class="campos-formulario">
                                    <mat-form-field appearance="fill" class="half-width">
                                        <input matInput placeholder="CPF" formControlName="cpf">
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" class="half-width">
                                        <input matInput placeholder="Nome" formControlName="nome">
                                    </mat-form-field>

                                    <mat-form-field class="half-width">
                                        <mat-label>Data de Nascimento</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="dataNascimento">
                                        <mat-datepicker-toggle matSuffix [for]="picker" class="custom-picker-icon"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" class="half-width">
                                        <input matInput placeholder="Cidade" formControlName="cidade">
                                    </mat-form-field>

                                    <mat-form-field class="half-width">
                                        <mat-label>UF</mat-label>
                                        <mat-select formControlName="estado">
                                            <mat-option *ngFor="let estado of abreviacoes" [value]="estado">{{ estado
                                                }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" class="half-width">
                                        <input matInput placeholder="Telefone" formControlName="telefone">
                                    </mat-form-field>

                                </div>
                            </form>
                        </mat-card-content>
                        <mat-card-actions class="button">
                            <button mat-raised-button class="btn" (click)="onSubmit()">Salvar</button>
                            <button mat-raised-button class="red" (click)="onCancel()">Cancelar</button>
                        </mat-card-actions>
                    </mat-card>
                </main>
            </div>
        </div>
    </section>
</body>

</html>